<!-- list des workshops -->
<h1>Index des workshops</h1>

<% @workshops.each do |wksp| %>
  <p><%= link_to wksp.title, workshop_path(wksp) %></p>
<% end %>

<!-- map de ouf -->
<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {

      var handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
          styles: Diwyh.map_styles
          // possibility to pass other gmap options here
        },
        internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>


