<%= simple_form_for [ workshop, message ], remote: true  do |f| %>
  <%= f.error_notification %>
    <div class="message_input_wrapper">
  <%= f.input :content, input_html: {class: "message_input"}, placeholder: "Type your message here...", label: false  %>
    </div>
      <%= f.button :submit, class: "text send_message" %>
<% end %>
