 <li class="message <%= message.craftman_left_right %> appeared">
  <div class="avatar">

  </div>
  <div class="text_wrapper">
    <div class="text">
      <p><%= message.content %></p>
    </div>
  </div>
</li>
