.dashboard-pictures {
  position: relative;
}

.profil-pic {
 position: absolute;
 box-shadow: 1px 1px 3px $gray;
 z-index: 11;
 left: calc(50% - 150px/2);
}

.marble {
 position: relative;
 left: -20px;
 top: -20px;
 z-index: 10;
}

.banner-bk-gray-small{
  background: $gray;
  height: 250px;
}

.padded-md-ds {
  padding-top: 60px;
  padding-bottom: 30px;
}

.color-line-wood hr {
  background-color: $wood;
  border-top: 1px solid $wood;
  height: 4px;
  text-align: let;
  margin-left: 0px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bar-size-lg hr {
width: 120px;
}

.bar-size-sm hr {
width: 100px;
}


