/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.intro h1 {
  color: $gray;
}
.invitation {
  color: $gray;
  padding: 10px;
}
// Ligne dynamique
.vertical-line1 {
  width: 2px;
  height: 0;
  background-color: $gray;
  animation-name: vertical-lineone;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}
@keyframes vertical-lineone {
   0% {
    height: 0;
  }
  50%{
    height: 100%;
    left: 50%;
  }
  100% {
    height: 100%;
    left: 50%;
  }
}

//Grille des univers
.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.grid li {
  display: inline-block;
  width: 480px;
  margin: 0;
  padding: 20px;
  // text-align: left;
  position: relative;
}
.grid figure {
  margin: 0;
  position: relative;
  //background: linear-gradient(182deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.32));
}
// .grid figure h2 {
//   position: absolute;
//   text-align: center;
//   vertical-align: middle;
//   top: 40%;
//   left: 35%;
//   z-index: 9000;
//   // border: 3px double white;
//   // padding: 100px;
//   color: white;
// }
.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}
.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  //padding: 20px;
  //background: $gray;
  background-size: cover;
  color: $gray;
}
.cs-style-5 figure img {
  z-index: 10;
  transition: transform 0.4s;
}
.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
  transform: scale(0.4);
}
.cs-style-5 figcaption {
  height: 100%;
  width: 100%;
  opacity: 1;
  transform: scale(0.7);
  // backface-visibility: hidden;
  transition: transform 0.4s, opacity 0.4s;
  text-decoration: none;
  font-family: Asul;
  font-size: 40px;
}
.no-touch .cs-style-5 figure:hover figcaption,
.cs-style-5 figure.cs-hover figcaption {
  transform: scale(1);
  opacity: 1;
}
@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 100px 10px;
  }
  .grid li {
    width: 100%;
    min-width: 300px;
  }
}

.universe-gate {
  position: relative;
}

.universe-gate-filter {
  width: 100%;
  height: 300px;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 1000;
  background: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 50%);
}

.universe-gate h2 {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  z-index: 9000;
  top: 43%;
  left: 0%;
  width: 100%;
  color: white;
}
