<h1>Dashboard</h1>

<h2>Inbox</h2>

<% @threads.each do |(workshop, user), message| %>
  <p>
    <%= link_to "#{workshop.title} with #{workshop.craftman.first_name}", workshop_messages_path(workshop) %>
  </p>
<% end %>

<%= link_to "My bookings", bookings_path  %>

<%= link_to "Past Bookings"  %>

<%= link_to "Edit my profile", edit_profile_path  %>
