<br><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2">
          <div class="vertical-line1" id="line-center"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="intro" style="margin-top: 200px; margin-bottom: 40px;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center" style="line-height:1em";>
          <span class="text-uppercase backcolor">Reconnect</span>
          <span class="text-uppercase backcolor">with your</span>
          <span class="text-uppercase backcolor">hands</span>
        </h1>
      </div>
    </div>
  </div>

</div>

<!-- Cards universes -->
<div class="row">
    <ul class="grid cs-style-5">
      <% @universes.each do |universe| %>
        <li>
          <%= link_to universe_path(universe) do  %>
            <figure>
              <div class="front-image">
                <%= cl_image_tag universe.banner.fullpath, height: 300, width: 480, crop: :crop %>
                <h2 class="text-uppercase"> <%= universe.name %> </h2>
              </div>
              <figcaption style="background-image: url('<%= cl_image_path universe.collage.path %>')";>
              </figcaption>
            </figure>
          <% end %>
        </li>
      <% end %>
    </ul>
</div>
