<br><br><br>



<div class="row">

    <ul class="grid cs-style-5">
      <% @universes.each do |universe| %>

        <li>
          <%= link_to universe_path(universe) do  %>
            <figure>
              <div class="front-image">
                <%= cl_image_tag universe.banner.fullpath, height: 300, width: 480, crop: :crop %>
                <h2 class="text-uppercase"> <%= universe.name %> </h2>
              </div>
              <figcaption style="background-image: url('<%= cl_image_path universe.collage.path %>')";>
              </figcaption>
            </figure>
          <% end %>
        </li>

      <% end %>
    </ul>

</div>
