// Titre blanc de la bannière grise :
// WOOD (universe#show), WOOD workshops(workshops#index),
// Workshop name(workshop#show), user.name(dashboard)
h1 {
  font-size: 80px;
  color: white;
}

// Titre gris : universe#show, workshop#show
h2 {
  font-size: 42px;
  color: $gray;
  margin-top: 0px;
  margin-bottom: 0px;
}

// Titres intermédiares Noms des jobs (workshops#index), reviews(workshop#show),
// craftmen names(universe#show)
h3 {
  font-weight: bold;
  color: $gray;
  margin-top: 0px;
  font-size: 30px;
}

// Texte d'intro / citation / inspiration avec line height plus espacé
h4 {
  color: $gray;
  line-height: 45px;
}

// Texte blanc de mini description de l'univers sur la bannière grise
h5 {
  color: white;
  font-size: 24px;
}
.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}
.chivo {
  font-family: 'Chivo', sans-serif;
}
.asul {
  font-family: 'Asul', sans-serif;
}
.txt-sm {
  font-size: 12px;
}
.txt-description {
  font-size: 16px;
}
.txt-md {
  font-size: 20px;
}
.txt-mmd {
  font-size: 30px;
}
.txt-lg {
  font-size: 46px;
}
.txt-xl {
  font-size: 150px;
}
.txt-light {
  font-weight: 300;
  a {
    text-decoration: none;
    color: $gray;
  }
}
.txt-regular {
  font-weight: 400;
}
.txt-bold {
  font-weight: 600;
}
.txt-gras {
  font-weight: 700;
}
.txt-heavy {
  font-weight: 800;
}
