.white {
  color: white;
}
.txt-sm {
  font-size: 12px;
}
.txt-description {
  font-size: 16px;
}
.txt-md {
  font-size: 20px;
}
.txt-mmd {
  font-size: 30px;
}
.txt-lg {
  font-size: 46px;
}
.txt-light {
  font-weight: 300;
}
.txt-regular {
  font-weight: 400;
}
.txt-bold {
  font-weight: 600;
}
.txt-heavy {
  font-weight: 800;
}
