.banner-bk-gray {
  background: $gray;
  position: relative;
  height: 360px;
}

.banner-bk-gray-small {
  background: $gray;
  position: relative;
  height: 200px;
}

.banner-bk-gray h1 {
  font-size: 80px;
}

