/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
// SUPPR ESPACE COLLAGE PHOTOS
.sm-gutter > [class*='col-'] {
    padding-right:5px;
    padding-left:0px;
}

// hr
.upper-line hr {
  color: $gray;
  background-color: $gray;
  margin-top: 0px;
  margin-bottom: 5px;
  height: 1px;
}
.upper-line-left hr {
  color: #979797;
  background-color: #979797;
  margin-top: 0px;
  margin-bottom: 5px;
  height: 1px;
}
.final-line hr {
  color: $gray;
  background-color: $gray;
  margin-top: 5px;
  margin-bottom: 0px;
  height: 1px;
}
.final-line-left hr {
  color: #979797;
  background-color: #979797;
  margin-top: 5px;
  margin-bottom: 0px;
  height: 1px;
}
.color-line hr {
  color: $gray;
  background-color: $gray;
  height: 4px;
  width: 100px;
  text-align: right;
  margin-right: 0px;
  margin-bottom: 14px;
}
.color-line-title-wood hr {
  background-color: $wood;
  border-top: 1px solid $wood;
  height: 4px;
  width: 140px;
  text-align: let;
  margin-left: 0px;
  margin-bottom: 14px;
}
.color-line-red hr {
  background-color: red;
  height: 4px;
  width: 100px;
  text-align: left;
  margin-left: 0px;
  margin-bottom: 5px;
}

// margins
.margin-verti-fat {
  margin-top: 40px;
  margin-bottom: 40px;
}

// Paddings

.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padded-lg {
  padding-top: 40px;
  padding-bottom: 40px;
}
.padded-md {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padded-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padded-top {
  padding-top: 20px;
}
.padded-top-xs {
  padding-top: 5px;
}
.padded-top-sm {
  padding-top: 10px;
}
.padded-top-md {
  padding-top: 40px;
}
.padded-top-lg {
  padding-top: 120px;
}
.padded-top-neg {
  top: -30px;
}
.padded-bottom-sm {
  padding-bottom: 10px;
}
.padded-bottom-m {
  padding-bottom: 20px;
}
.padded-bottom-md {
  padding-bottom: 40px;
}
.padded-bottom-lg {
  padding-bottom: 80px;
}

.padded-md {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padded-ri {
  padding-right: 30px;
}

.padded-full-lg {
  padding: 40px;
}




// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: $gray;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}


