.card-universe {
  height: 275px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.card-universe-title {
  text-decoration: none;
  font-family: 'Vidaloka', serif;
  font-size: 40px;
  color: white;
}
.card-universe-title hover {
  text-decoration: none;
  font-family: 'Vidaloka', serif;
  font-size: 40px;
  color: white;
}
.card-index {
  background-size: cover !important;
  height: 500px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 10px;
}
.card-block {
  padding: 30px 30px 20px 30px;
}
.card-index-title {
  position: absolute;
  top: 15px;
  left: 20px;
}
.card-index-user {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.card-index-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin-bottom: 0px;
}
.card-index-button {
  padding-top: 20px;
}
.card-img {
  width: 100%;
  position: abosolute;
  top: 0px;
  left: 0px;
  text-align: center;
}

.craftman-name {
  position: absolute;
  top: 50px;
  color: white;
  font-weight: 400;
}
.craftman-name p {
  text-align: center;
}
// Cards pour les reviews
.card-white {
  background-color: white;
  padding: 40px 30px 20px 30px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.card-white h4 {
  margin-top: 0px;
}
.card-white-quote {
  position: absolute;
  left: 20px;
  top: -65px;
}
.card-white-quote p {
  font-family: Raleway;
}
.card-white-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
}
