// Workshops#show
 .workshop-card {
  position: absolute;
  padding: 30px 0px 0px 0px;
  left: 50%;
  width: 823.33px;
  transform: translateX(-50%) translateY(-25%);
  background-color: #FFFFFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: $gray;

  .left {
    padding-left: 60px;
    padding-bottom: 30px;
    display: inline-block;
    width: 60%;
  }
  .right {
    display: inline-block;
    width: 38%;
    padding-left: 50px;
    padding-top: 60px;
    float: right;
  }
}

// Home
.card-universe {
  // height: 300px;
  // width: 100%;
  // position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.card-universe-title {
  text-decoration: none;
  font-family: Asul;
  font-size: 40px;
  color: white;
}
.card-universe-title hover {
  text-decoration: none;
  font-family: Asul;
  font-size: 40px;
  color: white;
}

// Workshops#index
.card-index {
  height: 560px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 20px;
}
.card-block {
  padding: 30px 30px 20px 30px;
}
.card-index-title {
  position: absolute;
  top: 15px;
  left: 20px;
}
.card-index-user {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.card-index-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin-bottom: 0px;
}
.card-index-button {
  padding-top: 15px;
}
.card-img {
  text-align: center;
  // position: relative;
  height: 200px;
}
.card-img-filter{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 1000;
  background: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.4) 50%);
}
.craftman-name {
  position: absolute;
  top: 70px;
  color: white;
  font-weight: 400;
  z-index: 1001;
}
.craftman-name p {
  text-align: center;
  margin: 0;
}
// Cards pour les reviews
.card-white {
  background-color: white;
  padding: 40px 30px 20px 30px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.card-white h4 {
  margin-top: 0px;
}
.card-white-quote {
  position: absolute;
  left: 20px;
  top: -65px;
}
.card-white-quote p {
  font-family: Raleway, sans-serif;
}
.card-white-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
}

// info window maps
.card-map {
  max-width: 350px;
}


