// BANNER
.banner-bk-gray {
  background: $gray;
}
.banner-height-lg {
  height: 100vh;
}

.banner-bk-gray h5 {
  width: 500px;
}

.position {
  position: relative;
}
.position h1 {
  position: absolute;
  bottom: -200px;
}
.position h5 {
  position: absolute;
  // top: 150px;
  // left: 448px;
}
.position img {
  position: absolute;
  width: 50%;
  top: 400px;
}

// UNIVERSE INSPIRATION
.universe-presentation {
  height: 500px;
  padding-top: 200px;
  position: relative;
  margin-bottom: 100px;
}

.universe-presentation h4 {
  width: 400px;
  position: absolute;
  left: 200px;
}

.universe.wood.border {
  position: relative;
  height: 320px;
  width: 250px;
  border: 3px solid $wood;
}

.universe.wood.border img {
  position: absolute;
  left: -20px;
  bottom: -20px;
}

// UNIVERSE PHOTOS
.photos {
  height: 600px;
  position: relative;
}

.photo-1 {
  position: absolute;
  left: 40px;
  top: 40px;
}
.photo-2 {
  position: absolute;
  right: 20px;
}
.photo-3 {
  position: absolute;
  top: 50px;
  right: 10px;
}
.photo-4 {
  position: absolute;
  left: 40px;
  bottom: 10px;
}

// UNIVERSE DESCRIPTION
.universe-desciption {
  height: 500px;
}

.universe-text-top {
  width: 500px;
}
.universe-text-bottom {
  width: 500px;
}

// UNIVERSE BUTTON

// .universe.wood.btn {
//   color: $orange;
// }

// TRAIT DE COULEUR
.universe.wood.surligned {
  border-top: 6px solid $wood;
  width: 170px; // dépends de la taille de la police
}

.universe.wood.job {
  height: 270px;
}

.universe.wood h2 {
}

.wood.two {
  position: absolute;
  left: 80px;
}

// JOBS
.jobs {
  // margin-top: 40px;
  // margin-bottom: 40px;
  height: 330px;
  // display: flex;
  position: relative;
}
// .card-job {
//   flex: 1 1 auto;
// }

.card-job h3 {
  color: white;
  position: absolute;
  top: 120px;
  text-align: center;
  vertical-align: middle;
  width: 250px;
  padding-left: 12%;
}

// CRAFTMEN
// .universe.craftman {
//   position: relative;
// }
// .presentation-pic {
//   position: absolute;
//   left: 150px;

// }
.presentation-text {
  // position: absolute;
  // top: 150px;
  // left: -100px;
  height: 300px;
}

.left-surlign.wood {
  border-left: 6px solid $wood;
}

.craftman-presentation.one {
  height: 110px;
  width: 350px;
  // padding-left: 20px;
}

.craftman-presentation.two {
  height: 110px;
  width: 355px;
  padding-left: 20px;
}
.name h3 {
  width: 20px;
}

