// BANNER
.banner-bk-gray {
  background: $gray;
}
.banner-height {
  height: 360px;
}
.banner-height-lg {
  height: 100vh;
}

.banner-bk-gray h5 {
  width: 75%;
}

.position {
  position: relative;
  h1 {
    position: absolute;
  }
  h5 {
    position: absolute;
    bottom: -300px;
  }
  img {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 350px;
  }
}

//UNIVERSE INSPIRATION
.margin-lg {
  margin-bottom: 100px;
  margin-top: 200px;
}

.universe-presentation h4 {
  width: 400px;

}

.universe.wood.border {
  position: relative;
  height: 400px;
  width: 300px;
  border: 3px solid $wood;
  img {
    position: absolute;
    left: -20px;
    bottom: -20px;
  }
}

// UNIVERSE DESCRIPTION
.universe-desciption {
  height: 400px;
}

.universe-text-top {
  width: 500px;
}
.universe-text-bottom {
  width: 500px;
  padding-top: 2em;
}

// universe jobs
.universe.wood.job {
  height: 270px;
}

// .wood.two {
//   position: absolute;
//   left: 80px;
// }

// JOBS
.jobs {
  height: 330px;
  position: relative;

  .col-sm-4 {
    padding: 0;
  }
}

.card-job {
    width: 440px;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  h3 {
    color: white;
    top: 150px;
  }
}

// CRAFTMEN
// .universe.craftman {
//   position: relative;
// }
// .presentation-pic {
//   position: absolute;
//   left: 150px;

// }


.left-surlign.wood {
  border-left: 6px solid $wood;
}
.bottom-surlign.wood {
  border-bottom: 6px solid $wood;
  width: 150px;
}

.craftman-presentation {
  height: 110px;
  width: 350px;
}
.craftman-presentation.one {
  // padding-left: 20px;
}

.craftman-presentation.two {
  // padding-left: 20px;
}

.craftman-presentation.three {

}
.craftman-presentation.four {

}
.name h3 {
  width: 150px;
}




@media (min-width: $screen-sm-min) {
  .position h1 {
    bottom: -200px;
  }
}
